**/.terraform/*
.terraform.lock.hcl
**/.terraform.lock.hcl
# .tfstate files
./Codebase/.terraform
./Codebase/.terraform.tfstate
./Codebase/.terraform.tfstate.backup
*.terraform
*.tfstate
*.tfstate.*
assign2.pub
assign2
.git
**/.infrastructure/*